* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
    max-width: 100vw;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* content sections */
body {
    background: #212020;
}
.wrapper {
    position: relative;
    min-height: 100vh;
}
.content {
    padding-bottom: 47px;
}

footer {
    z-index: -1;
    height: 47px;
    margin-top: 47px;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), /* bottom, image */ url(img/bg_bedrock.png);
    position: absolute;
    bottom: 0;
    width: 100%; 
}


/* texts, fonts and images */
.index-item {
    min-height: 200px;
    width: 50%;
    float: right;
}
.index-item:nth-child(2n-1) {
    float: left;
}


.index-item-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    max-height: 120px;
    max-width: calc(100% - 40px);
    filter: drop-shadow(2px 2px 45px #000);
}

.index-item-title {
    padding: 0 5px;
    font-size: 0.9em;
    font-weight: 800;
    line-height: 1.2em;
    text-shadow: 3px 2px 2px rgba(0,0,0,0.3);
    text-align: center;
    text-transform: capitalize;
}

.index-item-description {
    padding: 0 20px 10px 20px;
    font-size: 1.2em;
}

.index-item-c2a {
    padding: 0 20px 0 20px;
    margin-bottom: 20px;
}

.list-item {
    min-height: 320px;
}

.list-item-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    height: 120px;
    max-height: 120px;
    max-width: calc(100% - 40px);
    filter: drop-shadow(2px 2px 45px #000);
}

.in-article {
    padding-top: 5px;
    padding-bottom: -5px;
    margin-top: -20px;
}

.list-item-title {
    padding: 5px 20px 15px 20px;
    font-size: 1.6em;
    font-weight: 800;
    line-height: 1.2em;
    text-shadow: 3px 2px 2px rgba(0,0,0,0.3);
}

.list-item-description {
    padding: 0 20px 10px 20px;
    font-size: 1.2em;
}

.list-item-c2a {
    padding: 0 20px 0 20px;
    margin-bottom: 20px;
}

.tip {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) );
    padding: 10px 10px;
    margin-bottom: 20px;
    width: calc(100% - 20px);
}

.tip h4 {
    color: green;
}
.tip p {
    padding-bottom: 15px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
}
.article-title {
    font-size: 1.3em;
    text-align: center;
    background: #49494a;
}
.header {
    background: black;
    z-index: 1;
    position: fixed;
    width: 100%;
}
.header-copy {
    visibility: hidden;
}
#site-title {
    font-size: 7.8vw;
    text-align: center;
    line-height: 1em;
    padding: 9px 5px 2px 5px;
    white-space: nowrap;

}
#site-subtitle {
    font-size: 3.5vw;
    text-align: center;
    padding-bottom: 4px;
}
p,a {
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: none;
}
p {
    padding-bottom: 24px;
}
a {
    color: green;
}

b {
    background: rgba(0, 0, 0, 0.42);
    padding: 0 2px;
    
}

.back-button {
    color: white;
    display: block;
    position: fixed;
    bottom: 0;
    left: 20px;
    padding: 5px 25px;
    margin-bottom: 25px;
    background: #30ad1e;
    font-size: 1.3em;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    text-shadow: 0 2px 0 rgba(0,0,0,0.3);
    box-shadow: rgba(0, 0, 0, 0.30) 2px 2px 2px;

}
.next-button {
    color: white;
    display: block;
    position: fixed;
    bottom: 0;
    right: 20px;
    padding: 5px 25px;
    margin-bottom: 25px;
    background: green;
    font-size: 1.3em;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    text-shadow: 0 2px 0 rgba(0,0,0,0.3);
    box-shadow: rgba(0, 0, 0, 0.30) 2px 2px 2px;
}
option, .goog-te-combo {
    color: black;
}
ul {
    padding-bottom: 15px;
}

li {
    list-style-position: inside;
}

/* minecraft button */

.mc{
    z-index: -1;
    display: block;
    margin-left: 20px;
    width: calc(100% - 40px);
    height: 55px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background: #31ae1f;
    border: 0;
    position: relative;
    text-shadow: 0 2px 0 rgba(0,0,0,0.3);
    margin-bottom: 15px;
    border-radius: 10px;
    border-top: solid 3px #64fd1f;
    border-left: solid 3px #47d009;
    border-right: solid 3px #47d009;
    border-bottom: solid 3px #156c00;
}

.mc:hover{
  cursor: pointer;
}

.mc:after, .mc:before{
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mc:before{
  background: none;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.15);
}

/* js alert */
#swal2-content, #swal2-content strong {
color: black;
}